<div id="<%= dom_id order %>">
  <div>
    Name: <%= order.first_name %> <%= order.last_name %>
  </div>
  <div>
    Filling:
    <%= link_to(order.filling.name, filling_path(order.filling)) %>
  </div>
</div>
