body {
  margin: 0;
  padding: 0;
  background: #E6E6FA;
}

.navbar {
  height: 3rem;
  padding: 0 1rem;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  font-size: 1.25rem;

  .link-home {
    display: flex;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
  }

  .logo {
    width: 2rem;
    margin-right: 0.75rem;
    padding-bottom: 0.25rem;
  }
}

.main-container {
  margin: 1rem auto 2rem;
  padding: 0 1rem;
  max-width: 800px;
}